/* LayoutFooter.css */

.layout-footer-section {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 50px 0; /* 좌우 패딩 제거 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* 내용 중앙 정렬 */
}

.layout-footer-inner {
  width: 100%;

  padding: 0 60px; /* 헤더와 동일한 좌우 패딩 */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.footer-section ul li {
  font-size: 14px;
}

.footer-section ul li:nth-child(2) {
  border-left: 1px solid #fff;
  padding-left: 16px;
}

.footer-section ul li:nth-child(3) {
  border-left: 1px solid #fff;
  padding-left: 16px;
}

.footer-section ul li:nth-child(4) {
  border-left: 1px solid #fff;
  padding-left: 16px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .footer-last-text {
  margin-top: 8px;
  font-size: 14px;
}

.footer-bottom {
  width: calc(100% - 120px);
  padding: 20px 0 0; /* 상단 패딩만 적용 */
  margin: 40px 60px 0; /* 좌우 마진으로 패딩 효과 대체 */
  text-align: center;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #ccc;
}

/* 반응형 디자인 */
@media (max-width: 992px) {
  .layout-footer-section {
    padding: 40px 0px;
  }
}

@media (max-width: 768px) {
  .layout-footer-section {
    padding: 30px 24px;
  }

  .layout-footer-inner {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
  }

  .footer-section {
    width: 100%;
    text-align: left;
  }

  .footer-bottom {
    width: 100%;
  }

  .footer-section ul li a {
    font-size: 12px;
  }

  .footer-section ul li {
    font-size: 12px;
  }

  .footer-section .footer-last-text {
    font-size: 12px;
  }

  .footer-section .mobile-ceo {
    margin-top: 8px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .layout-footer-section {
    padding: 20px 20px;
  }

  .footer-section h4 {
    font-size: 16px;
  }

  .footer-section ul li {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .footer-section.second ul {
    display: flex;
    flex-direction: column;
  }

  .footer-section ul li:nth-child(2) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .footer-section ul li:nth-child(3) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .footer-section ul {
    gap: 4px;
  }
}
