.main-section {
  position: relative;
  width: 100%;
}

.main-section .img-first {
  width: 100%;
  height: 100%;
}

.main-section .main-top-section {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background-image: url("/public/top-bg/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 24px;
}

.main-section .main-top-content-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-top-left-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main-top-left-wrap .abutton {
  padding: 10px 20px;
  background: #438489;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-top-left-wrap p {
  text-align: center;
  font-size: clamp(24px, 4vw, 46px);
  font-weight: 600;
  color: #fff;
  line-height: 48px;
}

.main-top-left-wrap .left-store-wrap {
  display: flex;
  gap: 8px;
  padding-top: 16px;
}

.main-top-right-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-top-right-wrap .main-top-img-wrap {
  width: 100%;
  position: relative;
}

.main-top-right-wrap .main-top-img-wrap img {
  width: 100%;
}

.main-section .main-three-content-wrap {
  width: 100%;
  height: 300vh;
  position: relative; /* sticky에서 relative로 변경 */
  background-color: #fff;
}

.main-section .main-three-content-wrap .main-three-inner {
  width: 100%;
  padding-top: 100px;
  position: sticky; /* inner를 sticky로 변경 */
  height: 100vh;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-three-inner .main-three-first-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-three-inner .main-three-two-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-three-inner .main-three-three-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-three-inner .main-three-four-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-three-first-wrap .main-three-left-wrap .big-text {
  text-align: left;
  font-size: clamp(24px, 4vw, 56px);
  font-weight: 700;
  color: #67ebd6;
  line-height: 4.5rem;
}

.main-three-two-wrap .main-three-left-wrap .big-text {
  text-align: left;
  font-size: clamp(24px, 4vw, 56px);
  font-weight: 700;
  color: #67ebd6;
  line-height: 4.5rem;
}

.main-three-three-wrap .main-three-left-wrap .big-text {
  text-align: left;
  font-size: clamp(24px, 5vw, 56px);
  font-weight: 700;
  color: #67ebd6;
  line-height: 4.5rem;
}

.main-three-four-wrap .main-three-left-wrap .big-text {
  text-align: left;
  font-size: clamp(24px, 5vw, 56px);
  font-weight: 700;
  color: #67ebd6;
  line-height: 4.5rem;
}

.main-three-first-wrap .main-three-left-wrap .small-text {
  text-align: left;
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  color: #000;
}

.main-three-two-wrap .main-three-left-wrap .small-text {
  text-align: left;
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  color: #000;
}

.main-three-three-wrap .main-three-left-wrap .small-text {
  text-align: left;
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  color: #000;
}

.main-three-four-wrap .main-three-left-wrap .small-text {
  text-align: left;
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  color: #000;
}

.main-three-left-wrap {
  position: relative;
}

.main-three-right-wrap {
  position: relative;
}

.main-innercontent-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-three-right-wrap .main-three-right-circle {
  width: clamp(340px, 28vw, 440px);
  height: clamp(340px, 28vw, 440px);
  background-color: rgba(122, 193, 252, 0.6);
  border-radius: 50%;
}

.main-three-right-wrap img {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%; */
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}

.bottom-gradient-box {
  position: relative;
  width: 100%;
  height: 900px;
  background: #f2f8f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.bottom-gradient-box .inner-bottom-gradient-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.inner-bottom-gradient-box .small-text {
  font-size: 24px;
}

.bottom-gradient-box h1 {
  font-weight: 800;
  text-align: center;
  font-size: clamp(24px, 4vw, 36px);
  color: black;
}

.bottom-gradient-box .bottom-store-wrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.bottom-store-wrap .abutton {
  padding: 10px 20px;
  background: #438489;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .bottom-gradient-box {
    margin-top: 100px;
    height: 600px;
  }

  .main-top-left-wrap h1 {
    font-weight: 800;
    font-size: clamp(48px, 6vw, 80px);
    color: #000;
    padding-bottom: 16px;
  }

  .main-section .main-top-content-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-three-inner .main-three-first-wrap {
    flex-direction: column;
    gap: 160px;
  }

  .main-three-inner .main-three-two-wrap {
    flex-direction: column;
    gap: 160px;
  }

  .main-three-inner .main-three-three-wrap {
    flex-direction: column;
    gap: 160px;
  }

  .main-three-right-wrap img {
    width: 100%;
    max-width: calc((100% - 10%) - 4px);
    max-height: 600px;
  }

  .main-three-first-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
    line-height: 2.4rem;
  }

  .main-three-two-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
    line-height: 2.4rem;
  }

  .main-three-three-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
    line-height: 2.4rem;
  }

  .main-three-four-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
    line-height: 2.4rem;
  }

  .main-three-first-wrap .main-three-left-wrap .small-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
  }

  .main-three-two-wrap .main-three-left-wrap .small-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
  }

  .main-three-three-wrap .main-three-left-wrap .small-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
  }

  .main-three-four-wrap .main-three-left-wrap .small-text {
    text-align: center;
    font-size: clamp(18px, 2vw, 22px);
  }

  .main-top-left-wrap p {
    text-align: center;
    font-size: clamp(17px, 4.7vw, 32px);
    font-weight: 600;
    color: #fff;
    line-height: 26px;
  }

  .main-section .main-three-content-wrap .main-three-inner {
    margin: 100px 0px;
  }

  .main-innercontent-wrapper {
    flex-direction: column;
    gap: 48px;
  }

  .main-three-right-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-three-first-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(30px, 3vw, 36px);
    font-weight: 700;
    color: #67ebd6;
  }

  .main-three-two-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(30px, 3vw, 36px);
    font-weight: 700;
    color: #67ebd6;
  }

  .main-three-three-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(30px, 3vw, 36px);
    font-weight: 700;
    color: #67ebd6;
  }

  .main-three-four-wrap .main-three-left-wrap .big-text {
    text-align: center;
    font-size: clamp(30px, 3vw, 36px);
    font-weight: 700;
    color: #67ebd6;
  }

  .inner-bottom-gradient-box .small-text {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .main-three-inner .main-three-first-wrap {
    /* height: 150vh; */
  }

  .main-three-inner .main-three-two-wrap {
    /* height: 150vh; */
  }

  .main-three-inner .main-three-three-wrap {
    /* height: 150vh; */
  }

  .main-section .main-three-content-wrap .main-three-inner {
    padding-top: 0px;
  }

  .bottom-gradient-box h1 {
    font-weight: 800;
    font-size: clamp(22px, 3.2vw, 26px);
    color: black;
  }

  .bottom-gradient-box {
    margin-top: 0px;
  }

  .inner-bottom-gradient-box .small-text {
    font-size: 18px;
  }
}
