#root {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Freesentation", sans-serif;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-1Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-2ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-3Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-4Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-5Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-6SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-7Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-8ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Freesentation";
  src: url("/Freesentation/Freesentation-9Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


a {
  font-weight: 400;
}